

body{
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

.header{
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    background-color: hotpink;
}

.container{
    display: flex;
    background-color: rgb(253, 229, 229);
    
}
.conClassLeft{
    flex: 0.5;
    border: 5px solid pink;
    display: flex;
    flex-direction: column;
}
.conClassRight{
    flex: 2;
    border: 5px solid white;
    border-radius: 20px;
    background-color: red;
} 
#grid{
    display: grid;
    grid-template-columns: repeat(var(--size), 10px);
    grid-template-rows: repeat(var(--size), 10px);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    justify-content: center;
    margin: 10px;
    border: 2px solid white;
}
.boxClass{
    background-color: white;
    border: 0.5px solid rgb(201, 200, 200);
}

